{% extends "groups/group_base.html" %}


{% block group_content %}
<div class="col-md-4">

    {% if user.is_authenticated %}
    <h1>Welcome Back <br>
        <small><a href="">@{{ user.username }}</a></small>
    </h1>
    {% endif %}

    <h2 class="mt-3">Groups</h2>
    <h6>Welcome to the Groups page! Select a group with a shared interest.</h6>

    {% if user.is_authenticated %}
    <a href="{% url 'groups:create' %}" class=" mt-2 btn btn-sm btn-primary">Create New Group</a>
    {% endif %}
</div>
<div class="col-md-8">
    <ul class="list-group mb-3">

        {% for group in group_list %}
        <li class="list-group-item">
            <h3><b><a href="{% url 'groups:detail' group.slug %}">{{ group.name }}</a></b></h3>
            <p class="text-muted">{{ group.description }}</p>
            <div class="row">
                <div class="col-6"><span class="badge badge-secondary">{{ group.members.count }}</span>
                    Member{{group.members.count|pluralize }}</div>
                <div class="col-6"><span class="badge badge-secondary">{{ group.posts.count }}</span>
                    Post{{ group.posts.count|pluralize }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock group_content %}