{% extends 'posts/posts_base.html' %}


{% block post_content %}
<div class="col-8">
    <ul class="list-group mb-3">

        {% for post in post_list %}
        <li class="list-group-item">
            <p class="text-muted">{{ post.message }}</p>
            <a href=""><b>@{{ post.user }}</b></a>
            at <a href=""><b> {{ post.created_at }}</b></a>

            {% if post.group %}
            in <a href=""><b> {{ post.group }}</b></a>
            {% endif %}

        </li>
        {% endfor %}

    </ul>
</div>
{% include 'message.html' %}
{% endblock post_content %}